<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <input type="text" required minlength="4" class="form-control" #input1>
  <button (click)="onClickMe(input1.value)">Go</button>
  <ul>
    <app-test-component *ngFor="let item of itemList"
                        [item]="item">
    </app-test-component>
  </ul>
</div>

<!--<ul>-->

  <!--<li *ngFor="let post of data">-->
    <!--{{post.body}}-->
    <!--<button (click)="getComent(input1.value)">Go</button></li>-->

<!--</ul>-->


<app-post *ngFor="let post of data"
          [post]="post">
</app-post>

<!--<textarea [value]="data | json"></textarea>-->

<!--<pre>-->
  <!--{{data|json}}-->
<!--</pre>-->


